<div class="menuContainer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Add To Menu</h1>
        <form>
            <h2><label id="foodMenuLabel">Enter The Dish Name</label></h2>
                <div>
                    <input type="text" placeholder="Dish Name" id="name">
                </div>
                <h2><label>Enter The Wholesale Price</label></h2>
                <div>
                    <input type="text" placeholder="Wholesale Price" id="wholesalePrice">
                </div>
                <h2><label>Enter The Retail Price</label></h2>
                <div>
                    <input type="text" placeholder="Retail Price" id="retailPrice">
                </div>
                <h2><label>Enter The Stock Quantity</label></h2>
                <div>
                    <input type="text" placeholder="Stock Quantity" id="stockQty">
                </div>
                <br>
                <a href="/add-menu"><button type="submit" class="btn btn-outline-light waves-effect btn-lg" id="add">Save and continue</button></a>
                <a href="/tables"><button type="submit" class="btn btn-outline-light waves-effect btn-lg" id="submit">Finish</button></a>
                <h3><a href="/api/menu">Menu API</a></h3>
                </form>
                <div class="container">
            <div class="row">
        </div>
    </div>
</div>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-menu.js"></script>