{{!-- <div class="categoryContainer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='center'>
        <form>
            <h2><label>
                Add Category
            </label></h2>
            <input type="text" placeholder="Category" id="category">
        </form>
    </div>
    <br>
    <a href="/add-categories"><button type="submit" class="btn btn-outline-light waves-effect btn-lg" id="add">Save And Continue</button></a>
    <a href="/tables"><button type="submit" class="btn btn-outline-light waves-effect btn-lg" id="submit">Finish</button></a>
    <h3><a href="/api/categories">Categories API</a></h3>
</div>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-category.js"></script> --}}

<h1>Add Categories</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="list-group category-list">
          <li class="list-group-item new-item">
            <form id="category-form">
              <div class="container">
                <div class="row">
                  <div class="col-8">
                    <input class="new-item form-control" placeholder="Add a category" type="text" />
                  </div>
                  <div class="col-4">
                    <button type="submit" class="btn btn-info" id="submit">Finish</button>
                  </div>
                </div>
              </div>
            </form>
          </li>
          <div id="category-container">
          </div>
        </ul>
      </div>
    </div>
  </div>


<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!--category.js-->
  <script src="./js/add-category.js"></script>