<div class="employeeContainer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class='center'>
    <form>
        <h1>Add A New Employee</h1>
        <div>
            <h2><label>Enter Employee Name</label></h2>
            <input type="text" placeholder="Employee Name" id="name">
        </div>
        <div>
            <h2><label>Create A Password</label></h2>
            <input type="password" placeholder="Password" id="password">
        </div>
    </form>
</div>
<br>
<a href="/add-employees"><button type="submit" class="btn btn-outline-light waves-effect btn-lg" id="add">Save And Continue</button></a>
<a href="/tables"><button type="submit" class="btn btn-outline-light waves-effect btn-lg" id="submit">Finish</button></a>
<h3><a href="/api/employees">Employees API</a></h3>
</div>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-employees.js"></script>