<div class="foodContainer">
    <br>
    <br>
    <br>
<h1>Add Food Item</h1>
<form>
    <h3><label>Enter Name 0f The Dish</label></h3>
    <div>
        <input type="text" placeholder="Dish Name" id="name">
    </div>
    <h3><label>Select Food Category</label></h3>
    <div>
        <select>
            <option></option>
            {{#each category }}
            <option> {{name}} </option>
            {{/each}}
        </select>
    </div>
    <h3><label>Enter The Wholesale Price</label></h3>
    <div>
        <input type="text" placeholder="Wholesale Price" id="wholesalePrice">
    </div>
    <h3><label>Enter The Retail Price</label></h3>
    <div>
        <input type="text" placeholder="Retail Price" id="retailPrice">
    </div>
    <h3><label>Enter Stock Quantity</label></h3>
    <div>
        <input type="text" placeholder="Stock Quantity" id="stockQty">
    </div>
    <h3><p id="allergies">Select Allergies</p></h3>

    <div class="flex-wrap">
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="gluten" class="allergy"> <h7>Gluten</h7></p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="diary" class="allergy"> Diary</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="soy" class="allergy"> Soy</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="eggs" class="allergy"> Eggs</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="peanuts" class="allergy"> Peanuts</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="tree-nuts" class="allergy"> Tree Nuts</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="fish" class="allergy"> Fish</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <br>
        <br>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="shellfish" class="allergy"> Shellfish</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="nightshade" class="allergy"> Nightshade</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="allergies">
            <p><input type="checkbox" name="allergy" value="pork" class="allergy"> Pork</p>
            <h5>Allow Modification?</h5>
            <select class="modifications">
                <option></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

    </div>
    
    <a href="/food"><button type="submit" class="btn btn-dark" id="add">Save And Continue</button></a>
    <a href="/food-menu"><button type="submit" class="btn btn-dark" id="submit">Finish</button></a><h5><a href="/api/food">Food API</a></h5>
</form>
<div class="container">
    <div class="row">
    </div>
</div>
</div>
<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-food.js"></script>