body {
    text-align: center;
    background-color: #000;
    color: white;
    font-family: 'Gruppo', cursive;
}

.hide {
    display: none;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.unclickable {
    cursor: not-allowed;
}

.allergies {
    margin: auto;
}

.food-menu {
    width: 100vw;
    overflow: hidden;
}

.table-list {
    height: 70vh;
    overflow: hidden;
    background: #353a3f;
    overflow-y: scroll;
}

.add-margins {
    margin-left: 20px;
    margin-right: 20px;
}

.modal {
    font-size: 20px;
}

.menu-list {
    height: 70vh;
    overflow: hidden;
    background: darkgray;
}

.right-price {
    position: absolute;
    right: 20px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.top-margin {
    margin-top: 10px;
}

.tables {
    background: url("../images/square-table.png");
    background-size: cover;
    width: 90px;
    height: 90px;
    margin: auto;
    padding-top: 33px;
    text-decoration: none;
    color: white;
}

.tables:hover {
    background: url("../images/square-table-hover.png");
    background-size: cover;
    text-decoration: none;
    color: white;
}

.cursor {
    cursor: pointer;
}

.middle-screen {
    margin-top: 60px;
}

.big-btns {
    font-size: 28px;
    padding: 20px 0 20px 0;
    width: 200px;
}

.bottom-fixed {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#guest-note {
    width: 100%;
}

.in-progress {
    background: #6e7180;
    border: 1px solid #6e7180;
}

.in-progress:hover {
    background: #d4020d;
    border: 1px solid #d4020d;
}

#navbarTogglerDemo03 {
    font-size: 20px;
}

.modal-content, .modal-header, .modal-title center {
    background-color: #000;
}

#loginLabel, #linkToRestaurant {
    background-color: #000;
}

.systemContainer {
    background-image: url("../images/system.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.tableContainer {
    background-image: url("../images/tables.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.menuContainer {
    background-image: url("../images/menu.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.categoryContainer {
    background-image: url("../images/categories.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.foodContainer {
    background-image: url("../images/foods.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.drinkContainer {
    background-image: url("../images/drinks.jpeg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.employeeContainer {
    background-image: url("../images/employees.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}